# ---------- IDE ----------
.idea/
.vscode/
*.iml

# ---------- Python ----------
__pycache__/
*.py[cod]
.Python

env/
venv/
.venv/
.env

# ---------- Testing ----------
.pytest_cache/
.coverage
htmlcov/

# ---------- Logs ----------
logs/
*.log

# ---------- Reports ----------
reports/

# ---------- macOS / Windows ----------
.DS_Store
Thumbs.db