# --- PyCharm / IDE ---
.idea/
.vscode/
*.iml

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# --- OS / Miscellaneous ---
.DS_Store
Thumbs.db

# --- Testing / PyTest ---
.pytest_cache/